<div class="jumbotron">
    <div class="display-4">
        <ng-content select="[title]"></ng-content>
    </div>
    <p class="lead">
        <ng-content select="[description]"></ng-content>
    </p>
    <div>
        <ng-content select="[extra]"></ng-content>
    </div>
    <hr class="my-4" />
</div>