<nav class="navbar navbar-expand-lg navbar-light bg-primary container">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/employees-list">Employee Management App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/employees-list" routerLinkActive="active">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Leaves</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Bonuses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Agreements</a>
                </li>
            </ul>
        </div>
    </div>
</nav>